html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-image: url('background/background.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 7.5%;
    position: relative;
}

#menuToggle {
    font-size: 1.5rem;
    display: none;
}

.logo img {
    width: 15%;
    height: 15%;
}

.navigation {
    display: flex;
    font-family: "Poppins", sans-serif;
    gap: 100px;
}

.navigation a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
    position: relative;
}

.navigation a:hover {
    color: #aefc18;
}

/* CONTENT SECTION */

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.5%;
    margin-top: 3.2%;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.content h1 {
    color: #ffffff;
    font-size: 4rem;
    margin-bottom: 0;
}

.content p {
    color: #ffffff;
    font-size: 1.2rem;
}

.content button {
    background-color: #aefc18;
    border: 0;
    padding: 20px 20px;
    border-radius: 40px;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.content button a {
    color: #203322;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 15px;
}

.content button:hover {
    background-color: #ffff00;
    color: #000000;
}

.contentRight {
    animation: floatingElements 3s ease-in-out infinite;
}

@keyframes floatingElements {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* ISI SECTION */

.isi {
    background-color: #aefc18;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 7.5%;
    height: auto;
    flex-wrap: wrap;
}

.previewTitle {
    font-size: 4rem;
    position: relative;
}

.previewTitle::after {
    display: block;
    content: "";
    height: 2px;
    width: 60%;
    background-color: #ff0000;
    margin-top: 0;
}

.boxOfIsi {
    width: auto;
    height: auto;
    background-color: #efefef;
    border: solid 2px #000000;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.mainIsiTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 2px;
    gap: 5px;
}

.isi1,
.isi2,
.isi3,
.isi4,
.isi5,
.isi6 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: brown;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f0f0f0;
}

.mainIsiBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 2px;
}

.isi7,
.isi8,
.isi9,
.isi10,
.isi11,
.isi12 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: brown;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f0f0f0;
}

.isiRight h1 {
    color: #000000;
    font-size: 4rem;
    text-align: end;
    margin: 0;
    position: relative;
}

.isiRight h1::after {
    display: block;
    content: "";
    height: 2px;
    width: 60%;
    background-color: #ff0000;
    margin-top: 0;
}

.isiRight p {
    font-size: 1.3rem;
}

.preview {
    margin-top: 50px;
    display: flex;
    gap: 50px;
}

.preview1 {
    height: 320px;
    width: 38px;
    background-color: #f0f0f0;
    position: relative;
    box-shadow: 1px 3px 27px 0px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 1px 3px 27px 0px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 1px 3px 27px 0px rgba(0, 0, 0, 0.43);
    transition: transform 0.4s ease-in-out;
}

.preview1:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.preview1::after {
    content: "76 Mangga";
    color: #9b9999;
    white-space: nowrap;
    font-size: 6px;
    text-align: center;
    height: 25px;
    width: 100%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 65px;
}

.preview2 {
    height: 230px;
    width: 38px;
    background-color: #f0f0f0;
    position: relative;
    box-shadow: 1px 3px 27px 0px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 1px 3px 27px 0px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 1px 3px 27px 0px rgba(0, 0, 0, 0.43);
    transition: transform 0.4s ease-in-out, opacity 1.2s ease-in-out;
}

.preview2:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.preview2::after {
    content: "76 Mangga";
    color: #9b9999;
    white-space: nowrap;
    font-size: 6px;
    text-align: center;
    height: 25px;
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 65px;
}

.preview2::before {
    display: block;
    content: "";
    background-color: #FF4500;
    height: 10px;
    width: 100%;
    position: absolute;
    top: 98%;
    box-shadow: 
    0px 0px 15px 5px rgba(169, 169, 169, 0.8), /* Abu terang */
    0px 0px 30px 10px rgba(128, 128, 128, 0.7); /* Abu gelap */
}

.shutOffBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shutOffBtn button {
    background-color: #FF4500;
    border: 0;
    padding: 20px 40px;
    border-radius: 40px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.shutOffBtn button:hover {
    background-color: #202020;
}

/* RASA SECTION */

.rasa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFC324;
    padding: 100px 7.5%;
}

.rasaLeft h1 {
    font-size: 4rem;
    position: relative;
    margin-bottom: 0;
}

.rasaLeft h1::after {
    display: block;
    content: "";
    height: 2px;
    width: 60%;
    background-color: #ff0000;
    margin-top: 0;
}

.rasaLeft p {
    font-size: 1.3rem;
}

.rasaLeft h2 {
    margin-top: 100px;
    font-size: 1.8rem;
    position: relative;
}

.rasaLeft h2::after {
    display: block;
    content: "";
    height: 2px;
    width: 15%;
    background-color: #ff0000;
}

.rasaLeft ol li {
    font-size: 1.3rem;
}

.rasaRight img {
    width: 120%;
    height: 120%;
    animation: floatingElements 3s infinite;
}

/* TENTANG SECTION */

.about {
    background-color: #FF4500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 7.5%;
}

.leftAbout img {
    width: 50%;
    height: 50%;
}

.rightAbout h1 {
    color: #ffffff;
    margin-bottom: 0;
}

.rightAbout h1::after {
    display: block;
    content: "";
    height: 2px;
    width: 60%;
    background-color: #000000;
    margin-top: 0;
}

/* FOOTER SECTION */

.footerBox {
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px 0;
}

.footerTop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 28px;
}

.footerTop a {
    color: #ffffff;
    text-decoration: underline;
}

.footerBottom p {
    color: #ffffff;
    margin-top: 0;
}

.footerBottom p span {
    font-weight: 700;
    padding-left: 5px;
}

/* RESPONSIVE SECTION */

@media (max-width: 375px) {
    .navigation {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: #FF4500;
        gap: 0;
        border-radius: 20px;
        z-index: 99;
        overflow: hidden;
    }
    .navigation a  {
        padding: 20px;
    }
    #menuToggle {
        display: block;
    }
    .content {
        padding: 0;
        text-align: center;
    }
    .contentRight {
        display: none;
    }
    .content button {
        margin-bottom: 20px;
    }
    .about {
        flex-direction: column;
    }
    .rasaRight img {
        display: none;
    }
    .footerBottom p {
        font-size: 12px;
    }
    .footerTop a {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .navigation {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: #FF4500;
        gap: 0;
        border-radius: 20px;
        z-index: 99;
        overflow: hidden;
    }
    .navigation a  {
        padding: 20px;
    }
    #menuToggle {
        display: block;
    }
    .content {
        padding: 0;
        text-align: center;
    }
    .contentRight {
        display: none;
    }
    .content button {
        margin-bottom: 20px;
    }
    .about {
        flex-direction: column;
    }
    .rasaRight img {
        display: none;
    }
    .footerBottom p {
        font-size: 12px;
    }
    .footerTop a {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .navigation {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: #FF4500;
        gap: 0;
        border-radius: 20px;
        z-index: 99;
        overflow: hidden;
    }
    .navigation a  {
        padding: 20px;
    }
    #menuToggle {
        display: block;
    }
    .content {
        padding: 0;
        text-align: center;
    }
    .contentRight {
        display: none;
    }
    .content button {
        margin-bottom: 20px;
    }
    .about {
        flex-direction: column;
    }
    .rasaRight img {
        display: none;
    }
    .footerBottom p {
        font-size: 12px;
    }
    .footerTop a {
        font-size: 12px;
    }
}

@media (max-width: 1024px) {
    .navigation {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: #FF4500;
        gap: 0;
        border-radius: 20px;
        z-index: 99;
        overflow: hidden;
    }
    .navigation a  {
        padding: 20px;
    }
    #menuToggle {
        display: block;
    }
    .content {
        padding: 0;
        text-align: center;
    }
    .contentRight {
        display: none;
    }
    .content button {
        margin-bottom: 20px;
    }
    .about {
        flex-direction: column;
    }
    .rasaRight img {
        display: none;
    }
    .footerBottom p {
        font-size: 12px;
    }
    .footerTop a {
        font-size: 12px;
    }
}